* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/Bg.png");
}

.signupWrapper {
  height: 85%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signupCard1 {
  width: 50%;
  margin-left: 3rem;
  margin-top: 2rem;
}

.signupCard2 {
  width: 45%;
}

.card2Logo {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.insta-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordLogo {
  width: 45%;
}

.logo {
  margin-left: 5%;
  width: 18%;
}

.logo:hover {
  transform: rotate(45deg);
}

@media screen and (max-width: 620px) {
    .signupCard1 {
        width: 60%;
    }

    .signupCard2 {
        width: 35%;
    }
}